{
    "require-dev": {
    	{% if test_run_logger %}"selrahcd/phpunit-test-run-logger": "0.1",{% endif %}
        "phpunit/phpunit": "^9.5"
    },
    "autoload": {
        "psr-4": {
            "{{kata_name}}\\": "src/"
        }
    },
     "autoload-dev": {
		"psr-4": {
			"{{kata_name}}\\": "tests/"
		}
	},
    "require": {}
}
